# 1. 데이터 로드
## 1.1 데이터 로드 및 확인

In [1]:
import pandas as pd
import numpy as np

from util import Utils as ut
from tqdm import tqdm

train = pd.read_csv('input/funda_train.csv')

train.head()

,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount
0,0,0,b,2016-06-01,13:13,0,NaN,기타 미용업,1857.142857
1,0,1,h,2016-06-01,18:12,0,NaN,기타 미용업,857.142857
2,0,2,c,2016-06-01,18:52,0,NaN,기타 미용업,2000.000000
3,0,3,a,2016-06-01,20:22,0,NaN,기타 미용업,7857.142857
4,0,4,c,2016-06-02,11:06,0,NaN,기타 미용업,2000.000000

In [2]:
# 데이터 정보 확인
train.info() # 인트형 변수가 3개 존재한다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6556613 entries, 0 to 6556612
Data columns (total 9 columns):
store_id            int64
card_id             int64
card_company        object
transacted_date     object
transacted_time     object
installment_term    int64
region              object
type_of_business    object
amount              float64
dtypes: float64(1), int64(3), object(5)
memory usage: 450.2+ MB

In [3]:
# 결착 데이터 확인
train.isnull().sum()

store_id                  0
card_id                   0
card_company              0
transacted_date           0
transacted_time           0
installment_term          0
region              2042766
type_of_business    3952609
amount                    0
dtype: int64

In [4]:
train.isnull().mean() # 결착율이 31% 60% 인 컬럼이 존재한다. (데이터 튜닝이 필요하다)

store_id            0.000000
card_id             0.000000
card_company        0.000000
transacted_date     0.000000
transacted_time     0.000000
installment_term    0.000000
region              0.311558
type_of_business    0.602843
amount              0.000000
dtype: float64

<b>[결착율 높은 데이터 분석]</b><br>
1. 결착율이 높은 데이터는 지역('region') 과 업소형태('type_of_business')이다.
2. 'store_id' 가 같은데 'region' 혹은 'type_of_business' 가 NaN 일 경우 다른 컬럼값을 이용해 채워줄 수 있으므로 조사해본다.

In [5]:
# column_key 로 주어진 컬럼은 'store_id' 와 일치할 경우 동일한 값을 유지해야 한다.
# 일부만 누락되어 있는지 확인하기 위해 조사
def CheckEmptyItem( df, column_key ) :
    
    store_id_cnt = 0
    empty_item_cnt = 0
    for store_id in range(train['store_id'].max()+1) :
        # store_id 개수와 empty_item 개수를 파악해 일치하지 않을 경우를 찾는다.
        store_id_cnt = len( train[train['store_id']==store_id].index )
        empty_item_cnt = train[train['store_id'] == store_id][column_key].isnull().sum()
        
        # store_id 를 보유한 행이 존재하고, empty_item 개수가 0이 아니며 store_id 와 empty_item 개수가 다르다면 일부만 누락된 행이다.
        if 0 != store_id_cnt and 0 != empty_item_cnt and store_id_cnt != empty_item_cnt :
            print( store_id )

In [6]:
# type_of_business는 store_id 에 매칭되지만 유실된 NaN 있을 경우 같은 값을 채워주기 위해 조사
CheckEmptyItem( train, 'type_of_business' )

In [7]:
# type_of_business는 store_id 에 매칭되지만 유실된 NaN 있을 경우 같은 값을 채워주기 위해 조사
CheckEmptyItem( train, 'region' )

<b>[조사 결과]</b><br>
1. 결국 결착된 데이터는 전부 누락된 데이터이기 때문에 임의의 데이터로 채워주거나 drop 을 고려한다.
2. 임의의 데이터로 채운 후 조사해보고, 드압한 후 테스트해 결과를 보고 결정한다.

# 2. 데이터 전처리
## 2.1 정수형 변수 조사 및 리타입

In [8]:
# 미리 제작해둔 유틸을 이용해 DataFrame Column 별 정수형변수의 최대 최소값을 출력한다.
ut.convert_data_type( train, mode='print' )

key: store_id
	min: 0
	max: 2136
key: card_id
	min: 0
	max: 4663856
key: installment_term
	min: 0
	max: 93

,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount
0,0,0,b,2016-06-01,13:13,0,NaN,기타 미용업,1857.142857
1,0,1,h,2016-06-01,18:12,0,NaN,기타 미용업,857.142857
2,0,2,c,2016-06-01,18:52,0,NaN,기타 미용업,2000.000000
3,0,3,a,2016-06-01,20:22,0,NaN,기타 미용업,7857.142857
4,0,4,c,2016-06-02,11:06,0,NaN,기타 미용업,2000.000000
5,0,5,c,2016-06-02,13:09,0,NaN,기타 미용업,2000.000000
6,0,6,f,2016-06-02,15:33,0,NaN,기타 미용업,2000.000000
7,0,7,a,2016-06-02,17:18,0,NaN,기타 미용업,7857.142857
8,0,8,c,2016-06-02,18:30,0,NaN,기타 미용업,2000.000000
9,0,9,a,2016-06-02,19:56,0,NaN,기타 미용업,1857.142857
10,0,10,f,2016-06-02,22:26,0,NaN,기타 미용업,22857.142857
11,0,11,c,2016-06-03,12:43,0,NaN,기타 미용업,2000.000000
12,0,12,b,2016-06-03,19:05,0,NaN,기타 미용업,1428.571429
13,0,13,e,2016-06-03,21:46,0,NaN,기타 미용업,14714.285714
14,0,14,a,2016-06-04,11:15,0,NaN,기타 미용업,2000.000000
15,0,15,c,2016-06-04,12:58,0,NaN,기타 미용업,3571.428571
16,0,16,h,2016-06-04,13:42,0,NaN,기타 미용업,1428.571429
17,0,17,a,2016-06-04,14:32,0,NaN,기타 미용업,2000.000000
18,0,18,a,2016-06-04,14:53,0,NaN,기타 미용업,14285.714286
19,0,19,b,2016-06-04,19:35,0,NaN,기타 미용업,6428.571429
20,0,20,c,2016-06-04,20:30,0,NaN,기타 미용업,2000.000000
21,0,21,f,2016-06-05,11:09,0,NaN,기타 미용업,1285.714286
22,0,22,c,2016-06-05,11:31,0,NaN,기타 미용업,2000.000000
23,0,23,b,2016-06-05,15:09,0,NaN,기타 미용업,7142.857143
24,0,24,a,2016-06-06,11:35,0,NaN,기타 미용업,7142.857143
25,0,25,h,2016-06-06,17:55,0,NaN,기타 미용업,2000.000000
26,0,26,c,2016-06-06,18:14,0,NaN,기타 미용업,6428.571429
27,0,27,a,2016-06-06,18:53,0,NaN,기타 미용업,1714.285714
28,0,28,c,2016-06-09,10:43,0,NaN,기타 미용업,2000.000000
29,0,29,b,2016-06-09,12:21,0,NaN,기타 미용업,2142.857143
...,...,...,...,...,...,...,...,...,...
6556583,2136,4663842,a,2019-02-26,00:02,0,제주 제주시,기타 주점업,6428.571429
6556584,2136,4663793,a,2019-02-26,00:29,0,제주 제주시,기타 주점업,8142.857143
6556585,2136,4662280,e,2019-02-26,20:10,0,제주 제주시,기타 주점업,4000.000000
6556586,2136,4663392,d,2019-02-26,23:01,0,제주 제주시,기타 주점업,16571.428571
6556587,2136,795775,a,2019-02-26,23:08,0,제주 제주시,기타 주점업,7571.428571
6556588,2136,4662603,f,2019-02-27,00:20,0,제주 제주시,기타 주점업,7928.571429
6556589,2136,4663843,c,2019-02-27,01:04,0,제주 제주시,기타 주점업,4500.000000
6556590,2136,4663844,b,2019-02-27,01:19,0,제주 제주시,기타 주점업,6000.000000
6556591,2136,4663845,b,2019-02-27,02:15,0,제주 제주시,기타 주점업,5142.857143
6556592,2136,1977050,d,2019-02-27,03:45,0,제주 제주시,기타 주점업,6428.571429
6556593,2136,4663846,a,2019-02-27,21:38,0,제주 제주시,기타 주점업,7857.142857
6556594,2136,4663847,g,2019-02-27,21:55,0,제주 제주시,기타 주점업,7285.714286
6556595,2136,4663848,d,2019-02-27,22:10,0,제주 제주시,기타 주점업,4000.000000
6556596,2136,4663706,d,2019-02-27,23:09,0,제주 제주시,기타 주점업,5500.000000
6556597,2136,4663849,d,2019-02-27,23:20,0,제주 제주시,기타 주점업,10428.571429
6556598,2136,4661654,a,2019-02-28,01:04,0,제주 제주시,기타 주점업,8571.428571
6556599,2136,4663850,a,2019-02-28,02:35,0,제주 제주시,기타 주점업,7428.571429
6556600,2136,4663107,a,2019-02-28,21:20,0,제주 제주시,기타 주점업,3285.714286
6556601,2136,1980399,d,2019-02-28,22:08,0,제주 제주시,기타 주점업,8714.285714
6556602,2136,4663851,b,2019-02-28,22:31,0,제주 제주시,기타 주점업,3285.714286
6556603,2136,4663852,a,2019-02-28,22:35,0,제주 제주시,기타 주점업,4571.428571
6556604,2136,4663853,e,2019-02-28,22:43,0,제주 제주시,기타 주점업,3571.428571
6556605,2136,4663666,f,2019-02-28,22:45,0,제주 제주시,기타 주점업,7428.571429
6556606,2136,4663854,f,2019-02-28,23:03,0,제주 제주시,기타 주점업,3928.571429
6556607,2136,4663855,d,2019-02-28,23:20,0,제주 제주시,기타 주점업,4500.000000
6556608,2136,4663855,d,2019-02-28,23:20,0,제주 제주시,기타 주점업,-4500.000000
6556609,2136,4663855,d,2019-02-28,23:24,0,제주 제주시,기타 주점업,4142.857143
6556610,2136,4663489,a,2019-02-28,23:24,0,제주 제주시,기타 주점업,4500.000000
6556611,2136,4663856,d,2019-02-28,23:27,0,제주 제주시,기타 주점업,571.428571
6556612,2136,4658616,c,2019-02-28,23:54,0,제주 제주시,기타 주점업,5857.142857

<b>[조사 결과]</b><br>
1. 최대 최소값이 전부 int32 보다 작은 값에 들어가기 때문에 데이터 타입을 변경한다.

In [9]:
train = ut.convert_data_type( train, mode='convert' )
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6556613 entries, 0 to 6556612
Data columns (total 9 columns):
store_id            int16
card_id             int32
card_company        object
transacted_date     object
transacted_time     object
installment_term    int8
region              object
type_of_business    object
amount              float64
dtypes: float64(1), int16(1), int32(1), int8(1), object(5)
memory usage: 343.9+ MB

<b>변경 후 메모리 사용량이 450MB 에서 344MB 로 줄어든 것을 확인할 수 있다.</b>

## 2.2 월별 매출로 전환

In [10]:
# 데이터는 월별 매출이기 때문에 Date 를 월로 변경하고 월별 매출액으로 전환해 새로운 데이터 프레임으로 변경한다.

#우선 시계열 데이터를 하나로 합친다.

train['date'] = train['transacted_date']+' '+train['transacted_time']
train['date'] = pd.to_datetime(train['date'])

train.head()

,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount,date
0,0,0,b,2016-06-01,13:13,0,NaN,기타 미용업,1857.142857,2016-06-01 13:13:00
1,0,1,h,2016-06-01,18:12,0,NaN,기타 미용업,857.142857,2016-06-01 18:12:00
2,0,2,c,2016-06-01,18:52,0,NaN,기타 미용업,2000.000000,2016-06-01 18:52:00
3,0,3,a,2016-06-01,20:22,0,NaN,기타 미용업,7857.142857,2016-06-01 20:22:00
4,0,4,c,2016-06-02,11:06,0,NaN,기타 미용업,2000.000000,2016-06-02 11:06:00

In [11]:
#transacted_date, transacted_time을 드랍한다.
train = train.drop( 'transacted_date', axis=1 )
train = train.drop( 'transacted_time', axis=1 )

train.head()

,store_id,card_id,card_company,installment_term,region,type_of_business,amount,date
0,0,0,b,0,NaN,기타 미용업,1857.142857,2016-06-01 13:13:00
1,0,1,h,0,NaN,기타 미용업,857.142857,2016-06-01 18:12:00
2,0,2,c,0,NaN,기타 미용업,2000.000000,2016-06-01 18:52:00
3,0,3,a,0,NaN,기타 미용업,7857.142857,2016-06-01 20:22:00
4,0,4,c,0,NaN,기타 미용업,2000.000000,2016-06-02 11:06:00

In [12]:
# 시계열 데이터로 정렬한 후 월별 합으로 resample 한다.
train.set_index( 'date', inplace=True )
train

,store_id,card_id,card_company,installment_term,region,type_of_business,amount
date,,,,,,,
2016-06-01 13:13:00,0,0,b,0,NaN,기타 미용업,1857.142857
2016-06-01 18:12:00,0,1,h,0,NaN,기타 미용업,857.142857
2016-06-01 18:52:00,0,2,c,0,NaN,기타 미용업,2000.000000
2016-06-01 20:22:00,0,3,a,0,NaN,기타 미용업,7857.142857
2016-06-02 11:06:00,0,4,c,0,NaN,기타 미용업,2000.000000
2016-06-02 13:09:00,0,5,c,0,NaN,기타 미용업,2000.000000
2016-06-02 15:33:00,0,6,f,0,NaN,기타 미용업,2000.000000
2016-06-02 17:18:00,0,7,a,0,NaN,기타 미용업,7857.142857
2016-06-02 18:30:00,0,8,c,0,NaN,기타 미용업,2000.000000
2016-06-02 19:56:00,0,9,a,0,NaN,기타 미용업,1857.142857
2016-06-02 22:26:00,0,10,f,0,NaN,기타 미용업,22857.142857
2016-06-03 12:43:00,0,11,c,0,NaN,기타 미용업,2000.000000
2016-06-03 19:05:00,0,12,b,0,NaN,기타 미용업,1428.571429
2016-06-03 21:46:00,0,13,e,0,NaN,기타 미용업,14714.285714
2016-06-04 11:15:00,0,14,a,0,NaN,기타 미용업,2000.000000
2016-06-04 12:58:00,0,15,c,0,NaN,기타 미용업,3571.428571
2016-06-04 13:42:00,0,16,h,0,NaN,기타 미용업,1428.571429
2016-06-04 14:32:00,0,17,a,0,NaN,기타 미용업,2000.000000
2016-06-04 14:53:00,0,18,a,0,NaN,기타 미용업,14285.714286
2016-06-04 19:35:00,0,19,b,0,NaN,기타 미용업,6428.571429
2016-06-04 20:30:00,0,20,c,0,NaN,기타 미용업,2000.000000
2016-06-05 11:09:00,0,21,f,0,NaN,기타 미용업,1285.714286
2016-06-05 11:31:00,0,22,c,0,NaN,기타 미용업,2000.000000
2016-06-05 15:09:00,0,23,b,0,NaN,기타 미용업,7142.857143
2016-06-06 11:35:00,0,24,a,0,NaN,기타 미용업,7142.857143
2016-06-06 17:55:00,0,25,h,0,NaN,기타 미용업,2000.000000
2016-06-06 18:14:00,0,26,c,0,NaN,기타 미용업,6428.571429
2016-06-06 18:53:00,0,27,a,0,NaN,기타 미용업,1714.285714
2016-06-09 10:43:00,0,28,c,0,NaN,기타 미용업,2000.000000
2016-06-09 12:21:00,0,29,b,0,NaN,기타 미용업,2142.857143
...,...,...,...,...,...,...,...
2019-02-26 00:02:00,2136,4663842,a,0,제주 제주시,기타 주점업,6428.571429
2019-02-26 00:29:00,2136,4663793,a,0,제주 제주시,기타 주점업,8142.857143
2019-02-26 20:10:00,2136,4662280,e,0,제주 제주시,기타 주점업,4000.000000
2019-02-26 23:01:00,2136,4663392,d,0,제주 제주시,기타 주점업,16571.428571
2019-02-26 23:08:00,2136,795775,a,0,제주 제주시,기타 주점업,7571.428571
2019-02-27 00:20:00,2136,4662603,f,0,제주 제주시,기타 주점업,7928.571429
2019-02-27 01:04:00,2136,4663843,c,0,제주 제주시,기타 주점업,4500.000000
2019-02-27 01:19:00,2136,4663844,b,0,제주 제주시,기타 주점업,6000.000000
2019-02-27 02:15:00,2136,4663845,b,0,제주 제주시,기타 주점업,5142.857143
2019-02-27 03:45:00,2136,1977050,d,0,제주 제주시,기타 주점업,6428.571429
2019-02-27 21:38:00,2136,4663846,a,0,제주 제주시,기타 주점업,7857.142857
2019-02-27 21:55:00,2136,4663847,g,0,제주 제주시,기타 주점업,7285.714286
2019-02-27 22:10:00,2136,4663848,d,0,제주 제주시,기타 주점업,4000.000000
2019-02-27 23:09:00,2136,4663706,d,0,제주 제주시,기타 주점업,5500.000000
2019-02-27 23:20:00,2136,4663849,d,0,제주 제주시,기타 주점업,10428.571429
2019-02-28 01:04:00,2136,4661654,a,0,제주 제주시,기타 주점업,8571.428571
2019-02-28 02:35:00,2136,4663850,a,0,제주 제주시,기타 주점업,7428.571429
2019-02-28 21:20:00,2136,4663107,a,0,제주 제주시,기타 주점업,3285.714286
2019-02-28 22:08:00,2136,1980399,d,0,제주 제주시,기타 주점업,8714.285714
2019-02-28 22:31:00,2136,4663851,b,0,제주 제주시,기타 주점업,3285.714286
2019-02-28 22:35:00,2136,4663852,a,0,제주 제주시,기타 주점업,4571.428571
2019-02-28 22:43:00,2136,4663853,e,0,제주 제주시,기타 주점업,3571.428571
2019-02-28 22:45:00,2136,4663666,f,0,제주 제주시,기타 주점업,7428.571429
2019-02-28 23:03:00,2136,4663854,f,0,제주 제주시,기타 주점업,3928.571429
2019-02-28 23:20:00,2136,4663855,d,0,제주 제주시,기타 주점업,4500.000000
2019-02-28 23:20:00,2136,4663855,d,0,제주 제주시,기타 주점업,-4500.000000
2019-02-28 23:24:00,2136,4663855,d,0,제주 제주시,기타 주점업,4142.857143
2019-02-28 23:24:00,2136,4663489,a,0,제주 제주시,기타 주점업,4500.000000
2019-02-28 23:27:00,2136,4663856,d,0,제주 제주시,기타 주점업,571.428571
2019-02-28 23:54:00,2136,4658616,c,0,제주 제주시,기타 주점업,5857.142857

In [13]:
train = train.fillna({ 'region' : '기타 도시', 'type_of_business' : '기타 업종' })

train

,store_id,card_id,card_company,installment_term,region,type_of_business,amount
date,,,,,,,
2016-06-01 13:13:00,0,0,b,0,기타 도시,기타 미용업,1857.142857
2016-06-01 18:12:00,0,1,h,0,기타 도시,기타 미용업,857.142857
2016-06-01 18:52:00,0,2,c,0,기타 도시,기타 미용업,2000.000000
2016-06-01 20:22:00,0,3,a,0,기타 도시,기타 미용업,7857.142857
2016-06-02 11:06:00,0,4,c,0,기타 도시,기타 미용업,2000.000000
2016-06-02 13:09:00,0,5,c,0,기타 도시,기타 미용업,2000.000000
2016-06-02 15:33:00,0,6,f,0,기타 도시,기타 미용업,2000.000000
2016-06-02 17:18:00,0,7,a,0,기타 도시,기타 미용업,7857.142857
2016-06-02 18:30:00,0,8,c,0,기타 도시,기타 미용업,2000.000000
2016-06-02 19:56:00,0,9,a,0,기타 도시,기타 미용업,1857.142857
2016-06-02 22:26:00,0,10,f,0,기타 도시,기타 미용업,22857.142857
2016-06-03 12:43:00,0,11,c,0,기타 도시,기타 미용업,2000.000000
2016-06-03 19:05:00,0,12,b,0,기타 도시,기타 미용업,1428.571429
2016-06-03 21:46:00,0,13,e,0,기타 도시,기타 미용업,14714.285714
2016-06-04 11:15:00,0,14,a,0,기타 도시,기타 미용업,2000.000000
2016-06-04 12:58:00,0,15,c,0,기타 도시,기타 미용업,3571.428571
2016-06-04 13:42:00,0,16,h,0,기타 도시,기타 미용업,1428.571429
2016-06-04 14:32:00,0,17,a,0,기타 도시,기타 미용업,2000.000000
2016-06-04 14:53:00,0,18,a,0,기타 도시,기타 미용업,14285.714286
2016-06-04 19:35:00,0,19,b,0,기타 도시,기타 미용업,6428.571429
2016-06-04 20:30:00,0,20,c,0,기타 도시,기타 미용업,2000.000000
2016-06-05 11:09:00,0,21,f,0,기타 도시,기타 미용업,1285.714286
2016-06-05 11:31:00,0,22,c,0,기타 도시,기타 미용업,2000.000000
2016-06-05 15:09:00,0,23,b,0,기타 도시,기타 미용업,7142.857143
2016-06-06 11:35:00,0,24,a,0,기타 도시,기타 미용업,7142.857143
2016-06-06 17:55:00,0,25,h,0,기타 도시,기타 미용업,2000.000000
2016-06-06 18:14:00,0,26,c,0,기타 도시,기타 미용업,6428.571429
2016-06-06 18:53:00,0,27,a,0,기타 도시,기타 미용업,1714.285714
2016-06-09 10:43:00,0,28,c,0,기타 도시,기타 미용업,2000.000000
2016-06-09 12:21:00,0,29,b,0,기타 도시,기타 미용업,2142.857143
...,...,...,...,...,...,...,...
2019-02-26 00:02:00,2136,4663842,a,0,제주 제주시,기타 주점업,6428.571429
2019-02-26 00:29:00,2136,4663793,a,0,제주 제주시,기타 주점업,8142.857143
2019-02-26 20:10:00,2136,4662280,e,0,제주 제주시,기타 주점업,4000.000000
2019-02-26 23:01:00,2136,4663392,d,0,제주 제주시,기타 주점업,16571.428571
2019-02-26 23:08:00,2136,795775,a,0,제주 제주시,기타 주점업,7571.428571
2019-02-27 00:20:00,2136,4662603,f,0,제주 제주시,기타 주점업,7928.571429
2019-02-27 01:04:00,2136,4663843,c,0,제주 제주시,기타 주점업,4500.000000
2019-02-27 01:19:00,2136,4663844,b,0,제주 제주시,기타 주점업,6000.000000
2019-02-27 02:15:00,2136,4663845,b,0,제주 제주시,기타 주점업,5142.857143
2019-02-27 03:45:00,2136,1977050,d,0,제주 제주시,기타 주점업,6428.571429
2019-02-27 21:38:00,2136,4663846,a,0,제주 제주시,기타 주점업,7857.142857
2019-02-27 21:55:00,2136,4663847,g,0,제주 제주시,기타 주점업,7285.714286
2019-02-27 22:10:00,2136,4663848,d,0,제주 제주시,기타 주점업,4000.000000
2019-02-27 23:09:00,2136,4663706,d,0,제주 제주시,기타 주점업,5500.000000
2019-02-27 23:20:00,2136,4663849,d,0,제주 제주시,기타 주점업,10428.571429
2019-02-28 01:04:00,2136,4661654,a,0,제주 제주시,기타 주점업,8571.428571
2019-02-28 02:35:00,2136,4663850,a,0,제주 제주시,기타 주점업,7428.571429
2019-02-28 21:20:00,2136,4663107,a,0,제주 제주시,기타 주점업,3285.714286
2019-02-28 22:08:00,2136,1980399,d,0,제주 제주시,기타 주점업,8714.285714
2019-02-28 22:31:00,2136,4663851,b,0,제주 제주시,기타 주점업,3285.714286
2019-02-28 22:35:00,2136,4663852,a,0,제주 제주시,기타 주점업,4571.428571
2019-02-28 22:43:00,2136,4663853,e,0,제주 제주시,기타 주점업,3571.428571
2019-02-28 22:45:00,2136,4663666,f,0,제주 제주시,기타 주점업,7428.571429
2019-02-28 23:03:00,2136,4663854,f,0,제주 제주시,기타 주점업,3928.571429
2019-02-28 23:20:00,2136,4663855,d,0,제주 제주시,기타 주점업,4500.000000
2019-02-28 23:20:00,2136,4663855,d,0,제주 제주시,기타 주점업,-4500.000000
2019-02-28 23:24:00,2136,4663855,d,0,제주 제주시,기타 주점업,4142.857143
2019-02-28 23:24:00,2136,4663489,a,0,제주 제주시,기타 주점업,4500.000000
2019-02-28 23:27:00,2136,4663856,d,0,제주 제주시,기타 주점업,571.428571
2019-02-28 23:54:00,2136,4658616,c,0,제주 제주시,기타 주점업,5857.142857

In [14]:
df_month = pd.DataFrame()

region = ''
type_of_business = ''

for store_id in tqdm( train.groupby('store_id') ):# store_id 에 상점별 ID 가 tuple 형태로 enumerate 할 수 있게 된다.
    
    # 상점별(ID) 데이터를 추출한다.
    data_num = train[train.store_id==store_id[0]]
    
    # 월단위로 값을 합산한다.
    sum_amount = data_num['amount'].resample(rule='m').sum()
    
    # 합산한 데이터를 새로운 DataFrame 에 매핑한다. (series to DataFrame)
    data_mon = pd.concat([sum_amount],axis=1)

    # store_id, 업종, 지역 정보를 추가한다.
    data_mon.insert(0,'store_id',store_id[0])
    data_mon.insert(1, 'type_of_business', data_num['type_of_business'].unique()[0] )
    data_mon.insert(1, 'region', data_num['region'].unique()[0] )
    
    #새로 만들 dataframe 에 합쳐준다.
    df_month= pd.concat([df_month,data_mon],axis=0)

df_month

100%|██████████| 1967/1967 [00:33<00:00, 58.37it/s]

            store_id  region type_of_business        amount
date
2016-06-30         0   기타 도시           기타 미용업  7.470000e+05
2016-07-31         0   기타 도시           기타 미용업  1.005000e+06
2016-08-31         0   기타 도시           기타 미용업  8.715714e+05
2016-09-30         0   기타 도시           기타 미용업  8.978571e+05
2016-10-31         0   기타 도시           기타 미용업  8.354286e+05
2016-11-30         0   기타 도시           기타 미용업  6.970000e+05
2016-12-31         0   기타 도시           기타 미용업  7.618571e+05
2017-01-31         0   기타 도시           기타 미용업  5.856429e+05
2017-02-28         0   기타 도시           기타 미용업  7.940000e+05
2017-03-31         0   기타 도시           기타 미용업  7.202571e+05
2017-04-30         0   기타 도시           기타 미용업  6.852857e+05
2017-05-31         0   기타 도시           기타 미용업  7.444286e+05
2017-06-30         0   기타 도시           기타 미용업  6.820000e+05
2017-07-31         0   기타 도시           기타 미용업  7.282857e+05
2017-08-31         0   기타 도시           기타 미용업  7.490000e+05
2017-09-30         0   기타 도시           기타 미용업  8.408571e+05
2017-10-31         0   기타 도시           기타 미용업  6.005714e+05
2017-11-30         0   기타 도시           기타 미용업  6.308571e+05
2017-12-31         0   기타 도시           기타 미용업  8.127143e+05
2018-01-31         0   기타 도시           기타 미용업  6.431429e+05
2018-02-28         0   기타 도시           기타 미용업  6.852857e+05
2018-03-31         0   기타 도시           기타 미용업  8.484286e+05
2018-04-30         0   기타 도시           기타 미용업  6.361429e+05
2018-05-31         0   기타 도시           기타 미용업  6.864286e+05
2018-06-30         0   기타 도시           기타 미용업  7.072857e+05
2018-07-31         0   기타 도시           기타 미용업  7.587143e+05
2018-08-31         0   기타 도시           기타 미용업  6.798571e+05
2018-09-30         0   기타 도시           기타 미용업  6.518571e+05
2018-10-31         0   기타 도시           기타 미용업  7.390000e+05
2018-11-30         0   기타 도시           기타 미용업  6.760000e+05
...              ...     ...              ...           ...
2018-07-31      2135   기타 도시            기타 업종  4.384286e+05
2018-08-31      2135   기타 도시            기타 업종  5.661429e+05
2018-09-30      2135   기타 도시            기타 업종  5.098571e+05
2018-10-31      2135   기타 도시            기타 업종  8.504286e+05
2018-11-30      2135   기타 도시            기타 업종  5.894286e+05
2018-12-31      2135   기타 도시            기타 업종  5.418571e+05
2019-01-31      2135   기타 도시            기타 업종  4.622857e+05
2019-02-28      2135   기타 도시            기타 업종  4.042857e+05
2017-05-31      2136  제주 제주시           기타 주점업  4.692143e+05
2017-06-30      2136  제주 제주시           기타 주점업  2.713814e+06
2017-07-31      2136  제주 제주시           기타 주점업  2.967357e+06
2017-08-31      2136  제주 제주시           기타 주점업  3.364357e+06
2017-09-30      2136  제주 제주시           기타 주점업  3.190643e+06
2017-10-31      2136  제주 제주시           기타 주점업  3.364286e+06
2017-11-30      2136  제주 제주시           기타 주점업  2.706714e+06
2017-12-31      2136  제주 제주시           기타 주점업  2.869571e+06
2018-01-31      2136  제주 제주시           기타 주점업  1.877857e+06
2018-02-28      2136  제주 제주시           기타 주점업  2.023643e+06
2018-03-31      2136  제주 제주시           기타 주점업  2.352071e+06
2018-04-30      2136  제주 제주시           기타 주점업  2.197429e+06
2018-05-31      2136  제주 제주시           기타 주점업  2.194429e+06
2018-06-30      2136  제주 제주시           기타 주점업  2.333000e+06
2018-07-31      2136  제주 제주시           기타 주점업  1.601786e+06
2018-08-31      2136  제주 제주시           기타 주점업  1.222300e+06
2018-09-30      2136  제주 제주시           기타 주점업  2.775714e+06
2018-10-31      2136  제주 제주시           기타 주점업  2.012214e+06
2018-11-30      2136  제주 제주시           기타 주점업  2.135429e+06
2018-12-31      2136  제주 제주시           기타 주점업  2.427429e+06
2019-01-31      2136  제주 제주시           기타 주점업  1.873643e+06
2019-02-28      2136  제주 제주시           기타 주점업  2.227429e+06

[60915 rows x 4 columns]

In [15]:
len( df_month.region.unique() )

181

In [16]:
len( df_month.type_of_business.unique())

146